/*universal configs & variables*/
:root {
    font-size: 16px;
    font-family: 'Poppins';
    --text-primary: ;
    --text-secondary: ;
    --bg-primary: #171f44;
    --bg-secondary: #171f44;
    --transition-speed: 600ms;
}

/*configure the main body of the page*/
body {
    background-color: #cccccc;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
}

/*scrollbar witdth*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

/*scrollbar tracking bar*/
body::-webkit-scrollbar-track {
    background: #797979;
}

/*scrollbar rectangle thing*/
body::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
}

/*set margin and padding of main body*/
main { 
    margin-left: 5rem;
    padding: 1rem;
}

/*navbar*/
.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

/*navbar list of items*/
.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/*icons*/
.nav-item {
    width: 100%;
}

/*nav text*/
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

/*effects when the navbar is hovered over*/
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #101630;
    
}

/*text displayed next to nav items*/
.link-txt {
    display: none;
    margin-left: 1rem;
    color: #ffffff;
}

/*icons*/
.nav-link svg {
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1.5rem;
     
}

/*icon colors*/
.svg-primary {
    stroke: #ffffff
}

/*screens < 600px*/
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100wv;
        height: 5rem;

    }

    .nav-list {
        flex-direction: row;

    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/*screens > 600px*/
@media only screen and (min-width: 600px) {
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
    width: 18rem;
    }

    .navbar:hover .link-txt {
    display: inline;
    }
}




